<GridLayout height="100%">
    <FoldingListView verticalAlignment="top" height="100%" marginTop="6%" padding="0" margin="0" backgroundColor="white"
        [items]="items" foldsCount="2" (loaded)="onLoaded($event)">

        <ng-template>
            <StackLayout>
                <ForegroundView height="700" backgroundColor="blue">
                </ForegroundView>
                <ContainerView height="300" backgroundColor="green">
                </ContainerView>
            </StackLayout>
        </ng-template>

    </FoldingListView>
</GridLayout>